@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body, html {
    scroll-behavior: smooth;
}

#container {
    display: grid;
    height: 200vh;
    width: 100vw;
    max-width: 100%;
    grid-template-areas: 
    
    
    "na na"
    "he he"
    "ma si"
    "ma si"
    "ma si"
    "ft ft"
    ;

    grid-gap: 2px;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 0px;

}



li, a {
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 25px;
    color: antiquewhite;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    grid-area: na;
    background-color: rgb(24, 23, 22);
    align-items: center;

    
}

header {
    grid-area: he;
    text-align: center;
    padding: 110px;
    font-family: Playfair Display;
    font-size: 30px;
    background-color: cornsilk;
}

.logga {
    cursor: pointer;
}

.links {
    list-style: none;
}

.links, li {
    display: inline-block;
    padding: 0 20px;
}

.links, li, a{
    transition: all 0.1s ease 0s;

}

.links, li, a:hover{
    color: rgb(64, 90, 128);
    
}

main {
    grid-area: ma;
    background-color: rgb(24, 23, 22);
    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
}

side {
    grid-area: si;
    background-color: rgb(24, 23, 22);
    padding-top: 30px;
    font-size: 25px;
}

h1 {
    color: rgb(214, 209, 187);
    text-align: center;
}

p {
color: cornsilk;
}


footer {
    grid-area: ft;
    background-color: rgb(24, 23, 22);
    text-align: center;
    padding-top: 30px;

}

